@{
    ViewBag.Title = "Unauthorised Account";
}

<h2>@ViewBag.Title.</h2>
<h3 class="text-error">Your account needs to be authorised by the administrator before you can access the site.</h3>
<h3 class="text-error">If you happen to have the administrator's mob number or email address I would give him a nudge if I was you.</h3>
